<div class="slider">
	<ul id="slippry-demo">
	<li>
		<a>
			<img src="./app/assets/img/slider-1.jpg" width="100%"alt="<h1>RIGHT IS PINK.</h1><h1>
LEFT IS BLUE</h1><p>Inspired by Brasil’s bold colors and matching up to football’s on-pitch
playmakers, these kicks are ready to stand out.</p><button>Shop Brasil</button>">
		</a>
	</li>
	</ul>
</div>

<section class="categories">
	<div class="container">
		<div class="inner">
			<div class="col-xs-12 col-md-4">
				<a>
					<img src="./app/assets/img/footballshoes.jpg" alt="">
					<h2>Football shoes</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing, vivamus congue nulla leo, quis imperdiet magna.</p>
				</a>
			</div>
			<div class="col-xs-12 col-md-4">
				<a>
					<img src="./app/assets/img/modernclothes.jpg" alt="">
					<h2>Modern Clothes</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing, vivamus congue nulla leo, quis imperdiet magna.</p>
				</a>
			</div>
			<div class="col-xs-12 col-md-4">
				<a>
					<img src="./app/assets/img/bags-accessories.jpg" alt="">
					<h2>Bags & accessories</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing, vivamus congue nulla leo, quis imperdiet magna.</p>
				</a>
			</div>
		</div>
	</div>
</section>	
<section class="popular-products">
	<div class="container">
		<h2><div class="breaker"></div>Popular products <div class="breaker"></div></h2>
			<div class="col-xs-12 col-sm-6 col-md-3 product" *ngFor="let product of products">
				<div class="inner">
					<div class="top">
						<p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
						<a [routerLink]="['/single', product.id]">
						<img src="{{product.image[0]}}" alt="{{product.name}}">
						</a>
					</div>
					<div class="content">
						<a [routerLink]="['/single', product.id]">
						<h3>{{product.name | uppercase}}</h3>
						<h4>{{product.type}}</h4>
						<p class="product-info">{{product.description}}</p>
						</a>
						<div class="product-price">
							<p class="price">{{ product.price - (product.price * product.discount) | number:'1.2-2' | currency:'DKK' }}</p>
							<div class="icons">
								<p><i class="fa fa-heart-o" aria-hidden="true"></i></p>
								<p><i class="fa fa-plus-circle" aria-hidden="true"></i></p>
							</div>
						</div>
					</div>
					<button>Buy now</button>
				</div>
			</div>
	</div>
</section>