<div class="slider">
	<ul id="slippry-demo">
	<li>
		<a>
			<img src="./app/assets/img/slider-1.jpg" width="100%"alt="<h1>RIGHT IS PINK.</h1><h1>
LEFT IS BLUE</h1><p>Inspired by Brasil’s bold colors and matching up to football’s on-pitch
playmakers, these kicks are ready to stand out.</p><button>Shop Brasil</button>">
		</a>
	</li>
	</ul>
</div>

<section class="categories">
	<div class="container">
		<div class="inner">
			<div class="col-xs-12 col-md-4">
				<a>
					<img src="./app/assets/img/footballshoes.jpg" alt="">
					<h2>Football shoes</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing, vivamus congue nulla leo, quis imperdiet magna.</p>
				</a>
			</div>
			<div class="col-xs-12 col-md-4">
				<a>
					<img src="./app/assets/img/modernclothes.jpg" alt="">
					<h2>Modern Clothes</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing, vivamus congue nulla leo, quis imperdiet magna.</p>
				</a>
			</div>
			<div class="col-xs-12 col-md-4">
				<a>
					<img src="./app/assets/img/bags-accessories.jpg" alt="">
					<h2>Bags & accessories</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing, vivamus congue nulla leo, quis imperdiet magna.</p>
				</a>
			</div>
		</div>
	</div>
</section>	

<section class="popular-products">
	<div class="container">
		<h2><div class="breaker"></div>Popular products <div class="breaker"></div></h2>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3 product">
				<div class="inner">
					<div class="top">
						<p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
						<a [routerLink]="['single']">
						<img src="./app/assets/img/shoe.jpg" alt="">
						</a>
					</div>
					<div class="content">
						<a [routerLink]="['single']">
						<h3>Gel-Fujitrabuco 5 G-Tx</h3>
						<h4>Running Shoe</h4>
						<p class="product-info">God og robust terrænløbesko med GORE-TEX-membran. Overdel i let mesh og sål med affjedring både i hæl og forfod...</p>
						</a>
						<div class="product-price">
							<p class="price">$ 86.99</p>
							<div class="icons">
								<p><i class="fa fa-heart-o" aria-hidden="true"></i></p>
								<p><i class="fa fa-plus-circle" aria-hidden="true"></i></p>
							</div>
						</div>
					</div>
					<button>Buy now</button>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 product">
				<div class="inner">
					<div class="top">
						<p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
						<img src="./app/assets/img/shoe.jpg" alt="">
					</div>
					<div class="content">
						<h3>Gel-Fujitrabuco 5 G-Tx</h3>
						<h4>Running Shoe</h4>
						<p class="product-info">God og robust terrænløbesko med GORE-TEX-membran. Overdel i let mesh og sål med affjedring både i hæl og forfod...</p>
						<div class="product-price">
							<p class="price">$ 86.99</p>
							<div class="icons">
								<p><i class="fa fa-heart-o" aria-hidden="true"></i></p>
								<p><i class="fa fa-plus-circle" aria-hidden="true"></i></p>
							</div>
						</div>
					</div>
					<button>Buy now</button>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 product">
				<div class="inner">
					<div class="top">
						<p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
						<img src="./app/assets/img/shoe.jpg" alt="">
					</div>
					<div class="content">
						<h3>Gel-Fujitrabuco 5 G-Tx</h3>
						<h4>Running Shoe</h4>
						<p class="product-info">God og robust terrænløbesko med GORE-TEX-membran. Overdel i let mesh og sål med affjedring både i hæl og forfod...</p>
						<div class="product-price">
							<p class="price">$ 86.99</p>
							<div class="icons">
								<p><i class="fa fa-heart-o" aria-hidden="true"></i></p>
								<p><i class="fa fa-plus-circle" aria-hidden="true"></i></p>
							</div>
						</div>
					</div>
					<button>Buy now</button>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 product">
				<div class="inner">
					<div class="top">
						<p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
						<img src="./app/assets/img/shoe.jpg" alt="">
					</div>
					<div class="content">
						<h3>Gel-Fujitrabuco 5 G-Tx</h3>
						<h4>Running Shoe</h4>
						<p class="product-info">God og robust terrænløbesko med GORE-TEX-membran. Overdel i let mesh og sål med affjedring både i hæl og forfod...</p>
						<div class="product-price">
							<p class="price">$ 86.99</p>
							<div class="icons">
								<p><i class="fa fa-heart-o" aria-hidden="true"></i></p>
								<p><i class="fa fa-plus-circle" aria-hidden="true"></i></p>
							</div>
						</div>
					</div>
					<button>Buy now</button>
				</div>
			</div>

		</div>
		<div class="row">
<div class="col-xs-12 col-sm-6 col-md-3 product">
				<div class="inner">
					<div class="top">
						<p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
						<img src="./app/assets/img/shoe.jpg" alt="">
					</div>
					<div class="content">
						<h3>Gel-Fujitrabuco 5 G-Tx</h3>
						<h4>Running Shoe</h4>
						<p class="product-info">God og robust terrænløbesko med GORE-TEX-membran. Overdel i let mesh og sål med affjedring både i hæl og forfod...</p>
						<div class="product-price">
							<p class="price">$ 86.99</p>
							<div class="icons">
								<p><i class="fa fa-heart-o" aria-hidden="true"></i></p>
								<p><i class="fa fa-plus-circle" aria-hidden="true"></i></p>
							</div>
						</div>
					</div>
					<button>Buy now</button>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 product">
				<div class="inner">
					<div class="top">
						<p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
						<img src="./app/assets/img/shoe.jpg" alt="">
					</div>
					<div class="content">
						<h3>Gel-Fujitrabuco 5 G-Tx</h3>
						<h4>Running Shoe</h4>
						<p class="product-info">God og robust terrænløbesko med GORE-TEX-membran. Overdel i let mesh og sål med affjedring både i hæl og forfod...</p>
						<div class="product-price">
							<p class="price">$ 86.99</p>
							<div class="icons">
								<p><i class="fa fa-heart-o" aria-hidden="true"></i></p>
								<p><i class="fa fa-plus-circle" aria-hidden="true"></i></p>
							</div>
						</div>
					</div>
					<button>Buy now</button>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 product">
				<div class="inner">
					<div class="top">
						<p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
						<img src="./app/assets/img/shoe.jpg" alt="">
					</div>
					<div class="content">
						<h3>Gel-Fujitrabuco 5 G-Tx</h3>
						<h4>Running Shoe</h4>
						<p class="product-info">God og robust terrænløbesko med GORE-TEX-membran. Overdel i let mesh og sål med affjedring både i hæl og forfod...</p>
						<div class="product-price">
							<p class="price">$ 86.99</p>
							<div class="icons">
								<p><i class="fa fa-heart-o" aria-hidden="true"></i></p>
								<p><i class="fa fa-plus-circle" aria-hidden="true"></i></p>
							</div>
						</div>
					</div>
					<button>Buy now</button>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 product">
				<div class="inner">
					<div class="top">
						<p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></p>
						<img src="./app/assets/img/shoe.jpg" alt="">
					</div>
					<div class="content">
						<h3>Gel-Fujitrabuco 5 G-Tx</h3>
						<h4>Running Shoe</h4>
						<p class="product-info">God og robust terrænløbesko med GORE-TEX-membran. Overdel i let mesh og sål med affjedring både i hæl og forfod...</p>
						<div class="product-price">
							<p class="price">$ 86.99</p>
							<div class="icons">
								<p><i class="fa fa-heart-o" aria-hidden="true"></i></p>
								<p><i class="fa fa-plus-circle" aria-hidden="true"></i></p>
							</div>
						</div>
					</div>
					<button>Buy now</button>
				</div>
			</div>
		</div>
	</div>
</section>