<div id="details">
	<div class="container basic-info">
		<div class="col-xs-12 col-md-6 img-preview">
			<div class="img-container preview">
				<img src="./app/assets/img/shoe-big.jpg" alt="">
			</div>
			<div class="gallery">
				<div class="img-container">
					<img src="./app/assets/img/shoe-side.jpg" alt="">
				</div>
				<div class="img-container middle active">
					<img src="./app/assets/img/shoe-atop.jpg" alt="">
				</div>
				<div class="img-container">
					<img src="./app/assets/img/shoe-front.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 info">
			<h1>Gel-Fujitrabuco 5 G-Tx</h1>
			<div class="info-container">
				<div class="img-container">
					<img src="./app/assets/img/asics-logo.png" alt="">
				</div>
				<div class="price-info">
					<p class="price">kr 947.90</p>
					<div class="savings">
						<p>kr 1115.24</p>
						<p>You save 15.00%</p>
					</div>
				</div>
			</div>
			<form action="">
				<div class="inputs">
					<div>
						<label for="">Size</label>
						<select name="" id="">
							<option value="">EU 44 Black</option>
							<option selected value="">EU 45 Black</option>
							<option value="">EU 46 Black</option>
						</select>
					</div>
					<div>
						<label for="">Amout</label>
						<input type="text" value="1">
					</div>
				</div>
				<input type="submit" value="BUY NOW">
			</form>
		</div>
	</div>
	<div class="col-xs-12 tabs">
		<ul class="nav nav-tabs">
			<div class="container">
				<li class="active"><div class="active-border"><a>Description</a></div></li>
				<li><div class="active-border"><a>Shipping</a></div></li>
				<li><div class="active-border"><a>Sizing</a></div></li>
			</div>
		</ul>
		<div class="container">
			<div class="tabs-text description">
				<div class="col-xs-12 col-md-6">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit, elit vitae porttitor facilisis, urna nunc sollicitudin nibh, eu sodales metus nisi a orci. Cras posuere, mauris sit amet congue commodo, ex mauris auctor massa, at tincidunt massa quam eget mauris. Suspendisse quis dignissim lacus.</p>
					<br>
					<p>Duis vitae ante non diam porttitor porttitor nec non quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer ac risus cursus lectus fermentum consectetur. In hac habitasse platea dictumst. Fusce tristique rutrum elit id luctus. Fusce malesuada justo quis mauris scelerisque finibus. Cras porta, tortor non interdum fringilla, lorem erat aliquam justo, ut pulvinar arcu diam in odio. Etiam at nulla commodo, bibendum dolor sed, molestie justo. Integer nulla metus, efficitur eu malesuada placerat, porttitor et sapien.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit, elit vitae porttitor facilisis, urna nunc sollicitudin nibh, eu sodales metus nisi a orci. Cras posuere, mauris sit amet congue commodo, ex mauris auctor massa, at tincidunt massa quam eget mauris. Suspendisse quis dignissim lacus.</p>
					<br>
					<p>Duis vitae ante non diam porttitor porttitor nec non quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer ac risus cursus lectus fermentum consectetur. In hac habitasse platea dictumst. Fusce tristique rutrum elit id luctus. Fusce malesuada justo quis mauris scelerisque finibus. Cras porta, tortor non interdum fringilla, lorem erat aliquam justo, ut pulvinar arcu diam in odio. Etiam at nulla commodo, bibendum dolor sed, molestie justo. Integer nulla metus, efficitur eu malesuada placerat, porttitor et sapien.</p>
				</div>
			</div>
			<div class="tabs-text Shipping">
				<div class="col-xs-12 col-md-6">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit, elit vitae porttitor facilisis, urna nunc sollicitudin nibh, eu sodales metus nisi a orci. Cras posuere, mauris sit amet congue commodo, ex mauris auctor massa, at tincidunt massa quam eget mauris. Suspendisse quis dignissim lacus.</p>
					<br>
					<p>Duis vitae ante non diam porttitor porttitor nec non quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer ac risus cursus lectus fermentum consectetur. In hac habitasse platea dictumst. Fusce tristique rutrum elit id luctus. Fusce malesuada justo quis mauris scelerisque finibus. Cras porta, tortor non interdum fringilla, lorem erat aliquam justo, ut pulvinar arcu diam in odio. Etiam at nulla commodo, bibendum dolor sed, molestie justo. Integer nulla metus, efficitur eu malesuada placerat, porttitor et sapien.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit, elit vitae porttitor facilisis, urna nunc sollicitudin nibh, eu sodales metus nisi a orci. Cras posuere, mauris sit amet congue commodo, ex mauris auctor massa, at tincidunt massa quam eget mauris. Suspendisse quis dignissim lacus.</p>
				</div>
			</div>
			<div class="tabs-text sizing">
				<div class="col-xs-12 col-md-6">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit, elit vitae porttitor facilisis, urna nunc sollicitudin nibh, eu sodales metus nisi a orci. Cras posuere, mauris sit amet congue commodo, ex mauris auctor massa, at tincidunt massa quam eget mauris. Suspendisse quis dignissim lacus.</p>
					<br>
					<p>Duis vitae ante non diam porttitor porttitor nec non quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer ac risus cursus lectus fermentum consectetur. In hac habitasse platea dictumst. Fusce tristique rutrum elit id luctus. Fusce malesuada justo quis mauris scelerisque finibus. Cras porta, tortor non interdum fringilla, lorem erat aliquam justo, ut pulvinar arcu diam in odio. Etiam at nulla commodo, bibendum dolor sed, molestie justo. Integer nulla metus, efficitur eu malesuada placerat, porttitor et sapien.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<p>Duis vitae ante non diam porttitor porttitor nec non quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer ac risus cursus lectus fermentum consectetur. In hac habitasse platea dictumst. Fusce tristique rutrum elit id luctus. Fusce malesuada justo quis mauris scelerisque finibus. Cras porta, tortor non interdum fringilla, lorem erat aliquam justo, ut pulvinar arcu diam in odio. Etiam at nulla commodo, bibendum dolor sed, molestie justo. Integer nulla metus, efficitur eu malesuada placerat, porttitor et sapien.</p>
				</div>
			</div>
		</div>
	</div>
</div>